# Dependencias instaladas por npm
node_modules/

# Carpeta de build (la que genera Vite)
dist/

# Archivos de entorno local con tus claves secretas
.env
.env.local

# Archivos de caché de Vite
.vite/

# Logs de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store